

.search-content {
    margin: 7px 0;
    display: flex;
    justify-content: center;
}

.search-content .container{
    display: flex;
}

.search-content .container .left{
    background-color: #fff;
    margin-right: 7px;
    border-radius: 3px;
    padding: 7px 13px;
}

.search-content .container .right{
    padding: 13px 20px;
    background-color: #fff;
    flex: 1;
    border-radius: 3px;
}

.search-content .product-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.search-content .product-item {
    padding: 13px 10px;
    text-decoration: none;
    color: #111;
    font-size: 1.6rem;
    border-top: 1px solid #d6d6d6;
    cursor: pointer;
    position: relative;
}

.product-item .typebusiness {
    position: absolute;
    background-color: red;
    color: #fff;
    padding: 3px 2px 2px 4px;
    border-bottom-left-radius: 4px;
    right: 1px;
    top: 3px;
    font-size: 1.5rem;

}

.search-content .product-item:hover {
    box-shadow: 0 0 2px #83A2FF;
}

.search-content .product-item img {
    width: 100%;
}

.search-content .product-item .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.5rem;
    margin-top: 3px;
    margin-bottom: 10px;
}

.search-content .product-item .real-price {
    color: #83A2FF;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Bebas';
}

.search-content .product-item .old-price {
    color: #a8a8a8;
    text-decoration: line-through;
    font-size: 1.4rem;
    margin-top: 7px;
    font-family: 'Bebas';
}

.type-flag {
    display: flex;
    margin: 13px 0;
}

.type-flag .item {
    display: block;
    background-color: rgba(196, 228, 255, 0.8);
    font-size: 1.4rem;
    text-decoration: none;
    color: #111;
    border-radius: 7px;
    padding: 7px 13px;
    margin: 0 7px;
}

.type-flag .active {
    color: #fff;
    background-color: #83A2FF;
}